*{
  box-sizing: border-box;
}

html, #root{
  height:100%;
  width:100%;
  display:flex;
}

body{
  font-family: 'Spartan', sans-serif;
  font-size: 20px;
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  background: rgb(211,191,218);
  background: linear-gradient(0deg, rgba(211,191,218,1) 0%, rgba(158,116,175,1) 85%);
  color:white;
}
.main{
    display:flex;
    flex:1;
    width:100%;
    flex-direction:column;
    justify-content:space-between;
}
header{
    height:40px;
    border-bottom:0.5px solid white;
    width:100%;
    background:rgba(255,255,255,0.3);
    display:flex;
    align-items:center;
}
header img {
    height: 28px;
    margin: 0 7px;
}

footer {
    flex-direction:column; 
    background:rgba(255,255,255, 0.6);
    height:38px;
    border-top:0.5px solid white;
}

footer input{
    flex:1;
    margin:6px 4px;
    background:rgb(243,189,69);
    border-style:solid;
    border-color:rgb(158,116,175);
    height:23px;
    border-radius:14px;
    padding-left: 10px;
    font-family: 'Spartan', sans-serif;
    font-size:12px;
    width: 98%;
}

footer button{
    background:white;
    position:absolute;
    top:789px;
    right:13px;
    width:21px;
    height:21px;
    border-radius:50%;
    border-style:solid;
    border-color:rgb(158,116,175);
    padding:-1px;
    font-size:14px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
}
.msg{
  width:60%;
}

.msg-bubble{
  background: white;
  border-style:none;
  margin:5px;
  border-radius:12px;
  color:black;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  padding:10px;
  font-size:15px;
  margin-bottom: 15px;
  display: inline-block;
}

.messages{
  overflow-y:scroll;
  flex:1;
  flex-direction:column-reverse;
  display:flex;
}